@import "tailwindcss";

html {
  font-family: "Inter", sans-serif;
}

h1 {
  font-family: "Georgia", serif;
}

body {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

:root {
  --color-primary: #2e2e2e;
  --color-accent: #b89b5e;
  --color-muted: #f5f5f5;
}

body {
  font-family: Inter, system-ui, sans-serif;
  color: var(--color-primary);
}

* {
  scroll-behavior: smooth;
}